.footer {
  @extend .flex;
  flex-direction: column;
  background-color: var(--clr-container);
  padding: 0.5rem;

  .links {
    @extend .flex;
    gap: 1rem;

    .line {
      background-color: var(--clr-primary);
      width: 0.1rem;
      align-self: stretch;
    }
  }

  .copyright {
    @extend .flex;
    gap: 0.5rem;
  }
}
