.header {
  position: sticky;
  inset: 0;
  z-index: 99;
  background-color: var(--clr-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5em;

  .left {
    display: flex;
    gap: 1rem;
    .logo {
      @extend .flex;
      gap: 0.25em;

      svg {
        width: 2.2em;
        height: 2.2em;
        fill: var(--clr-primary);
      }

      .label {
        font: $logo-font;
      }
    }

    .searchBar {
      @extend .flex;
      background-color: var(--clr-button);
      border-radius: 0.25em;

      button {
        @extend .flex;
        background-color: transparent;
        padding: 1em;
      }

      input {
        width: 20ch;
        font-size: 0.8em;
        padding: 0.25em;
        background-color: transparent;
      }
    }
  }

  .right {
    display: flex;
    gap: 1em;

    & > * {
      @extend .flex;
      width: 1.2rem;
      height: 1.2rem;
      background-color: transparent;
    }
  }
}

@media (340px <= width < 720px) {
  .header {
    flex-direction: column;
  }
}
