.friends {
  @extend .flex;
  flex-direction: column;
  width: 100%;
  div {
    @extend .flex-between;
    padding: 0.5rem;
    border-bottom: 0.2rem solid var(--clr-button);
  }

  span {
    @extend .flex;
    justify-content: flex-start;
  }
}
.ads {
  @extend .flex, .container;
  flex-direction: column;

  img {
    aspect-ratio: 3/2;
    border-radius: 1rem;
  }

  .adsDes {
    font-size: 0.75em;
  }

  p {
    @extend .flex-between;
  }
}
