.friends {
  @extend .flex;
  flex-direction: column;
  width: 100%;
  article {
    padding: 0.5rem;
    border-bottom: 0.2rem solid var(--clr-button);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }

  .profileImg {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    img {
      border-radius: 50%;
    }
  }

  .label {
    font-size: 0.8em;
    font-family: ubuntu;
  }
}
.ads {
  @extend .flex;
  flex-direction: column;
  gap: 0.5rem;

  img {
    aspect-ratio: 3/2;
    border-radius: 1rem;
  }

  .adsDes {
    font-size: 0.75em;
  }

  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
