.middleSection {
  @extend .flex;
  justify-content: flex-start;
  flex-direction: column;

  .createPost {
    @extend .flex, .container;
    flex-direction: column;
    width: 100%;

    .top {
      @extend .flex-between;
    }
    .bottom {
      @extend .flex-between;
      background-color: var(--clr-button);
      padding: 1rem;
      border-radius: 0.25rem;

      .input {
        @extend .container;
        flex-grow: 1;
      }
      input[type="file"] {
        display: none;
      }

      .icon {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }

  .post {
    @extend .flex, .container;
    flex-direction: column;

    .top {
      @extend .flex-between;

      .left {
        @extend .flex;

        .info {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .postImg {
      width: 100%;
      border-radius: 0.5rem;

      img {
        border-radius: 0.5rem;
      }
    }

    .bottom {
      @extend .flex-between;
    }
  }
}
