.profile {
  @extend .flex;
  flex-direction: column;
  width: 100%;

  div {
    padding: 0.5rem;
    border-bottom: 0.2rem solid var(--clr-button);
  }

  div,
  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  & > *:not(:first-child) {
    flex-direction: column;
  }

  span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }

  .label {
    font-size: 0.8em;
    font-family: ubuntu;
  }
}
