// colors

.light {
  --clr-background: hsl(0, 0%, 95%);
  --clr-font: hsl(0, 10%, 20%);
  --clr-container: hsl(0, 0%, 85%);
  --clr-button: hsl(0, 0%, 90%);
  --clr-primary: hsl(348, 83%, 47%);
}

.dark {
  --clr-background: hsl(0, 0%, 10%);
  --clr-font: hsl(0, 10%, 80%);
  --clr-container: hsl(0, 0%, 15%);
  --clr-button: hsl(0, 0%, 25%);
  --clr-primary: hsl(348, 83%, 47%);
}

$logo-font: 700 1.5rem / 1 ubuntu;
$head-font: 700 1.4rem/ 1 poppins;
$sub-head-font: 500 1.2rem / 1.2 roboto;
$link-font: 500 1.1rem / 1.4 ubuntu;
$body-font: 400 clamp(15px, 1.25vw + 10px, 20px) / 1.5 open-sans;

@font-face {
  font-family: "open-sans";
  src: url(../assets/fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "poppins";
  src: url(../assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "roboto";
  src: url(../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "roboto";
  src: url(../assets/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "ubuntu";
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "ubuntu";
  src: url(../assets/fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
}

.icon {
  width: 1rem;
  height: 1rem;
  @extend .flex;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--clr-container);
  padding: 1rem;
}
