@import "./utils";
@import "./components/components";
@import "./pages/pages";
@import "./widgets/widgets";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  font: $body-font;
  color-scheme: dark light;
  scroll-behavior: smooth;
}

body {
  font: $body-font;
  color: var(--clr-font);
  background-color: var(--clr-background);
}

input,
textarea {
  font: $body-font;
  color: var(--clr-font);
  background-color: var(--clr-btn);
}

svg {
  color: var(--clr-font);
}

#root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  min-width: 340px;
  flex-grow: 1;
}

main {
  width: 95%;
  margin: 1em auto;
}

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  text-align: center;
  font: $head-font;
  color: var(--clr-primary);
}

h2 {
  font: $sub-head-font;
  color: var(--clr-primary);
}

h3 {
  font: 500 1rem/1 poppins;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

svg {
  width: 100%;
  height: 100%;
  &:hover {
    fill: var(--clr-primary);
  }
}

ul,
li,
a {
  cursor: pointer;
  font: $link-font;
  color: var(--clr-font);
}

li {
  list-style-type: none;
}

a {
  &:hover > * {
    color: var(--clr-primary);
    fill: var(--clr-primary);
  }

  &.active {
    color: var(--clr-primary);
    border-bottom: 0.25em solid var(--clr-primary);
    border-radius: 0.25em;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
